@import "tailwindcss";

@theme {
  /* Темний режим */
  --dark-mode: ['class'];


  /* Розміри екранів */
  --screen-xs: 475px;

  /* Кольори */
  --color-primary: #9B4DFF;
  --color-secondary: #00FFFF;
  --color-white: #F9FAFB;
  --color-base: #D1D1D1;
  --color-black: #1A1529;
  --color-header: #2C1E5050;

  /* Шрифти */
  --font-roboto-sans: var(--font-roboto-sans);

  /* Радіуси */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Тіні */
  --drop-shadow: 0px 0px 3px rgba(0, 255, 255, 0.3);
  --drop-shadow-purple: 0px 0px 4px #9333EA80
}

@layer base {
  * {
    @apply font-roboto-sans text-[12px] lg:text-[16px] xl:text-[18px] text-[#F9FAFB]
  }

  body {
    @apply h-full bg-linear-[130deg,#0F172A_0%,#151E37_40%,#1E1B4B_70%,#3B0764_100%] overflow-x-hidden pb-25
  }

  .container {
    @apply max-w-[1280px] xl:px-1.5 px-1 mx-auto overflow-hidden
  }

  button, input, a {
    @apply cursor-pointer
  }

  .section {
    @apply py-6
  }
}

@layer utilities {
  .mainTitle {
    @apply text-primary font-bold text-4xl drop-shadow
  }

  .subTitle {
    @apply text-secondary font-medium text-2xl drop-shadow
  }

  .desc {
    @apply text-base leading-[130%]
  }

  .courseTitle {
    @apply text-xl
  }

  .linkButton {
    @apply text-white font-medium text-xl drop-shadow 
  }

  .button {
    @apply text-white font-medium text-xl py-2 px-3  md:px-4 text-center
           bg-[#331f5b] border-2 border-[#7C3AED] rounded-xl drop-shadow-purple transition-all;
  }

  .buttonBite {
    @apply mt-5 max-w-55 w-full mx-auto md:mx-0 text-center
  }
  
  .button:hover {
    @apply text-[#9B4DFF];
    
    box-shadow: 
      0 0 10px rgba(124, 58, 237, 0.7),
      0 0 15px rgba(124, 58, 237, 0.5) inset;
    
    border-color: #9B4DFF;
  }

  .button-select {
    @apply text-white font-medium py-2 px-5
            border-2 border-[#00FFFF] rounded-xl drop-shadow-purple transition-all;
  }

  .button-select:hover {
    @apply text-[#00FFFF];
    
    box-shadow:   
      0 0 10px #00ffffc5,
      0 0 15px #00ffff80 inset;
  }

  .button-select.active {
    @apply text-black bg-linear-[120deg,#00FFFF_0%,#0099FF_100%]
  }

  .header-button {
    @apply text-sm md:text-xl
  }

  .search {
    @apply inline-flex gap-1 items-center py-2 px-4 text-white border-2 border-[#00FFFF] rounded-4xl max-w-lg w-full text-left transition-all
  }

  .search:hover {
    @apply text-[#9B4DFF];
    
    box-shadow: 
    0 0 10px #00ffffc5,
    0 0 15px #00ffff80 inset;
  }

  .course-card {
    @apply border-2 border-[#9B4DFF] bg-linear-[130deg,#1A1529_0%,#3D2C58_100%] rounded-2xl min-h-[200px] max-w-[350px] sm:max-w-[275px] 
  }
}

.container {
  max-width: 1240px;  
  margin: 0 auto;         
  padding-left: 1rem; padding-right: 1rem;       
}


.button.glow {
  animation: pulse-neon 3s ease-in-out infinite;
}

@keyframes pulse-neon {
  0% {
    box-shadow: 0 0 10px rgba(124, 58, 237, 0.4),
                0 0 20px rgba(124, 58, 237, 0.3) inset;
  }
  50% {
    box-shadow: 0 0 20px rgba(124, 58, 237, 0.7),
                0 0 30px rgba(124, 58, 237, 0.5) inset;
  }
  100% {
    box-shadow: 0 0 10px rgba(124, 58, 237, 0.4),
                0 0 20px rgba(124, 58, 237, 0.3) inset;
  }
}

.AccordionContent {
	overflow: hidden;
}
.AccordionContent[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}